<!DOCTYPE html>
<html lang="en">

<head>
    <title>VueJS Tutorial</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://unpkg.com/vue"></script>

    <style>
        .fade-enter-active,
        .fade-leave-active {
            transition: opacity .5s
        }
        
        .fade-enter,
        .fade-leave-to
        /* .fade-leave-active in <2.1.8 */
        {
            opacity: 0
        }
    </style>


</head>

<body>

    <h1>This is my first Vue app</h1>

    <div id="app-1">
        {{ message }} 
        <br> {{ myname }}
        <transition name="fade">
            <p v-if="displaytouser"> This content is conditional - {{ displaytouser }} </p>
        </transition>

        <ol>
            <li v-for="todo in todos"> 
                {{ todo.task }}  
            </li>
        </ol>

        <button v-on:click="reverseMessage">Reverse Message</button>

        <br>
        <input v-model="message" >


    </div>



</body>

<script>
    var app = new Vue({
        el: '#app-1',
        data: {
            message: 'Hello Vue! Is this working? <br> I can include html... nope, it didn\'t render! ',
            myname: 'John Doe',
            displaytouser: 'xxxx',
            todos: [ 
                { task: 'learn javascript' },
                { task: 'learn vue' },
                { task: 'take a bath' }
            ]
        }, // data 
        methods: {
            reverseMessage: function() {
                this.message = this.message.split('').reverse().join('');
                this.message = this.message.toUpperCase();
            }
        } // methods 
    })
</script>

</html>